* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  background-image: url("Cafe Amazon.png");
  background-size: cover;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 0;
  padding-top: 10px;
}

.cafe {
  display: table;
  width: fit-content;
  height: fit-content;
  background: linear-gradient();
}

#title {
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 0;
}

#description {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: black;
  margin-top: 5px;
  margin-bottom: 30px;
  /* text-shadow: 0 50px 600px rgb(0, 0, 0); */
}

.header {
  background-color: #02590f;
  text-align: center;
  width: 700px;
  height: 120px;
  margin: 1px auto 0px auto;
  padding: 0 10px 10px 15px;
  border-radius: 5px 5px 0 0;
}

form {
  background-color: #8fa5a3;
  font-size: larger;
  width: 800px;
  height: 1125px;
  margin: 0 auto 0 auto;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

input {
  font-size: medium;
  text-align: left;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  /* width: 700px; */
}

label {
  text-align: left;
  margin-bottom: 5px;
  /* display: block; */
}

select {
  font-size: medium;
  text-align: left;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  /* width: 700px; */
}

.radio-group,
.checkbox-group {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  margin-bottom: 30px;

}

input[type="radio"],
input[type="checkbox"] {
  min-width: 1.25rem;
  min-height: 1.25rem;
  margin: 5px;
}

#comments {
  text-align: left;
  font-size: 17px;
  height: 200px;
  width: 680px;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 1px;
}

button {
  background-color: #4caf50;
  color: white;
  font-size: large;
  width: 680px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
